<% content_for(:title, @user.name) %>

<h1><%= @user.name %></h1>

<p>
  <%= @user.email %>
</p>

<h3>brain hurts:</h3>

<ul>
  <% @user.questions.each do |question| %>
    <li>
      <%= link_to question.name, question_path(question) %>
      <% if current_user.is_admin || current_user == question.user %>
         <%= link_to edit_question_path(question) do %>
          <span class="glyphicon glyphicon-edit orange"></span>
         <% end %>
         <%= link_to question_path(question), data: {confirm: "FIRE BRAIN HURT?", method: 'delete'} do %>
          <span class="glyphicon glyphicon-fire red"></span>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if current_user %>
  <% if current_user.is_admin || current_user == @user %>
    <div class="btn-group btn-group-sm " role="group">
      <%= link_to "CHANGE", edit_user_path(@user), class: "btn btn-warning" %>
      <%= link_to "FIRE", user_path(@user), class: "btn btn-danger",
                                        data: {confirm: "FIRE CAVE MANS?",
                                                method: 'delete'} %>
    </div>
  <% end %>
<% end %>
