<!DOCTYPE html>
<html>
<head>
  <title>Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="text-center bold">
    <% if current_user %>
      <p> YOU AM - <%= current_user.name %> </p>
    <% end %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
  </div>

  <%= yield %>
</div>

   <nav class='navbar navbar-default' role='navigation' id="nav-footer">
      <ul class='nav navbar-nav'>
        <li><%= link_to "CAVE MENS", users_path %></li>
        <li><%= link_to "NEW CAVE MENS", new_user_path %></li>
        <li><%= link_to "CAVE ENTER", log_in_path %></li>
        <li><%= link_to "CAVE LEAVE", log_out_path %></li>
      </ul>
    </nav>


</body>
</html>
